@tailwind base;
@tailwind components;
/* Write your utility classes here */
@tailwind utilities;

@import './main.scss';

body {
  background-color: $body-color;
  display: flex;
  background-image: url('./logo.png');
  background-repeat: no-repeat;
  background-position: center;
}
